// typography
$text-color-main: #555;
$text-color-h: #333;
$text-color: #343a40;
$text-col: #45260a;

// bg
$bg-color-white: #fdf2e9;
$some-bg-color: #fae5d3;
$bg-col1: #51cf66;
$bg-col2: #94d82d;
$bg-col3: #ffd43b;

//btn
$button-color: #e67e22;
$span-color: #cf711f;

//form
$form-btn-color: #45260a;
$background-image: linear-gradient(to right bottom, #eb984e, #e67e22);

$best-value: #ffd43b;
$color-white: #fff;
$color: #ddd;
$some-col: #6f6f6f;

